@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    a {
        @apply text-accent
    }
    a.selected {
        @apply font-semibold
    }
    ul, ol {
        @apply list-inside
    }
    code {
        @apply text-accent
    }
    table {
        @apply my-4
    }
    th, td {
        @apply border-t-2
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #page-body {
        padding-bottom: 6rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100vw;
    }

    [x-cloak] { display: none !important; }
}

@layer utilities {
    .change {
        color: transparent;
    }
}